
<% @question_sheets.each do |question_sheet| %>

<div class="question_sheet_capture" id="question-archive-capture-<%= question_sheet.id %>">
    <div class="question_text">　・<%= question_sheet.question %></div>
    <div class="question-box">


<%# ---------カレントユーザー----------- %>
    <% answer00 = Answer.find_by(user_id: current_user.id, question_sheet_id: question_sheet.id) %>
    <% unless answer00 %>
      <%= form_with(model: Answer.new, url: room_question_sheet_answers_path(@room, question_sheet), local: true) do |form| %>
        <div class="selected-item">
          <div class="answer-user-name"><%= current_user.nickname %>　未回答</div>
          Options

          
          <% question_sheet.options.each do |option| %>
            <ul>
            <li>
            <div class="option-and-check-box">
              <div class="answer-option">
              <%= form.label :option_id, option.title, value: option.id %>
              </div>
              <div class="check-mark">
              <%= form.radio_button :option_id, option.id %>
              </div>
            </div>
          <% end %>

        </ul>
        <%= form.submit "Submit Answer" %>
        </div>
      <% end %>
    <% else %>
      <div class="selected-item">
        <div class="answer-user-name">
          <%= current_user.nickname %>　回答済
        </div>
        Options
        <% question_sheet.options.each do |option| %>
        <ul>
          <li>
          <div class="option-and-check-box">
            <div class="answer-option">
            <%= option.title %>
            </div>
            <div class="check-mark">
              <% if option.id == answer00.option_id%>
              ○
              <% end %>
            </div>
          </div>
        <% end %>
      </ul>
      </div>
      <% end %>




<%# ---------ファーストユーザー----------- %>
      <div class="selected-item">
          <% if current_user.id == @room_users[0].user_id %>
            <% answer01 = Answer.find_by(user_id: @room_users[1].user_id, question_sheet_id: question_sheet.id) %>
              <% unless answer01 %>
              <div class="answer-user-name"><%= @room_users[1].user.nickname %>　未回答</div>
                  Options
                <% question_sheet.options.each do |option| %>
                    <ul>
                      <li>
                      <div class="option-and-check-box">
                        <div class="answer-option">
                        <%= option.title %>
                        </div>
                        <div class="check-mark">
                        </div>
                      </div>
                    </ul>
                <% end %>
            <% else %>
              <div class="answer-user-name"><%= @room_users[1].user.nickname %>　回答済！</div>
                  Options
                <% question_sheet.options.each do |option| %>
                    <ul>
                      <li>
                      <div class="option-and-check-box">
                        <div class="answer-option">
                        <%= option.title %>
                        </div>
                        <div class="check-mark">
                          <% if option.id == answer01.option_id %>
                          ○
                          <% end %>
                        </div>
                      </div>
                    </ul>
                <% end %>
            <% end %>

        <% else %>
            <% answer01 = Answer.find_by(user_id: @room_users[0].user_id, question_sheet_id: question_sheet.id) %>
            <% unless answer01 %>
              <div class="answer-user-name"><%= @room_users[0].user.nickname %>　未回答</div>
                  Options
                <% question_sheet.options.each do |option| %>
                    <ul>
                      <li>
                      <div class="option-and-check-box">
                        <div class="answer-option">
                        <%= option.title %>
                        </div>
                        <div class="check-mark">
                        </div>
                      </div>
                    </ul>
                <% end %>
            <% else %>
              <div class="answer-user-name"><%= @room_users[0].user.nickname %>　回答済！</div>
                  Options
                <% question_sheet.options.each do |option| %>
                    <ul>
                      <li>
                      <div class="option-and-check-box">
                        <div class="answer-option">
                        <%= option.title %>
                        </div>
                        <div class="check-mark">
                          <% if option.id == answer01.option_id %>
                          ○
                          <% end %>
                        </div>
                      </div>
                    </ul>
                <% end %>
            <% end %>
        <% end %>
      </div>


<%# ---------セカンドユーザー----------- %>
      <div class="selected-item">
          <% if current_user.id == @room_users[2].user_id %>
            <% answer = Answer.find_by(user_id: @room_users[1].user_id, question_sheet_id: question_sheet.id) %>
              <% unless answer %>
              <div class="answer-user-name"><%= @room_users[1].user.nickname %>　未回答</div>
                  Options
                <% question_sheet.options.each do |option| %>
                    <ul>
                      <li>
                      <div class="option-and-check-box">
                        <div class="answer-option">
                        <%= option.title %>
                        </div>
                        <div class="check-mark">
                        </div>
                      </div>
                    </ul>
                <% end %>
            <% else %>
              <div class="answer-user-name"><%= @room_users[1].user.nickname %>　回答済！</div>
                  Options
                <% question_sheet.options.each do |option| %>
                    <ul>
                      <li>
                      <div class="option-and-check-box">
                        <div class="answer-option">
                        <%= option.title %>
                        </div>
                        <div class="check-mark">
                          <% if option.id == answer.option_id %>
                          ○
                          <% end %>
                        </div>
                      </div>
                    </ul>
                <% end %>
            <% end %>

        <% else %>
            <% answer = Answer.find_by(user_id: @room_users[2].user_id, question_sheet_id: question_sheet.id) %>
              <% unless answer %>
              <div class="answer-user-name"><%= @room_users[2].user.nickname %>　未回答</div>
                  Options
                <% question_sheet.options.each do |option| %>
                    <ul>
                      <li>
                      <div class="option-and-check-box">
                        <div class="answer-option">
                        <%= option.title %>
                        </div>
                        <div class="check-mark">
                        </div>
                      </div>
                    </ul>
                <% end %>
            <% else %>
              <div class="answer-user-name"><%= @room_users[2].user.nickname %>　回答済！</div>
                  Options
                <% question_sheet.options.each do |option| %>
                    <ul>
                      <li>
                      <div class="option-and-check-box">
                        <div class="answer-option">
                        <%= option.title %>
                        </div>
                        <div class="check-mark">
                          <% if option.id == answer.option_id %>
                          ○
                          <% end %>
                        </div>
                      </div>
                    </ul>
                <% end %>
            <% end %>
        <% end %>
      </div>


  </div>
  </div><div class="message-bottom-box-user2"><button onclick="capture(<%= question_sheet.id %>)" class="capture-button">Archive</button></div>

  <br><br>
  <% end %>




<%# ---------------アンケート アーカイブアクション-------- %>
<div id="apple" data-room-id="<%= @room.id %>"></div>
  <script>
function capture(questionSheetId) {
    var elementId = "question-archive-capture-" + questionSheetId;
    html2canvas(document.getElementById(elementId)).then(canvas => {
        var image = canvas.toDataURL("image/png"); // 画像をBase64文字列として取得
        const roomElement = document.getElementById('apple');
        const roomId = roomElement.dataset.roomId;
        // Fetch APIを使用してサーバーにPOSTリクエストを送信
        fetch(`/rooms/${roomId}/save-image`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
                'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content') // CSRFトークンを追加
             },
            body: JSON.stringify({
                image: image,
                supplement: '',  // サンプル値
                display_order: 1  // サンプル値
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            location.reload();
            })
        .catch((error) => {
            console.error('Error:', error);
            location.reload();
        });
    });
}
</script>