<div class="room">


<%#           レフト             %>

  <div class="left-block">
    <div class="inside-room-name">
      <div>
      <%= @room.room_name %>
      </div>
    </div>


      <div class="my-memo-block">
          <div class="my-memo-box">
            <%= form_with model: [@room, @memo], local: true do |f| %>
              <%= f.text_area :my_memo, class: 'my_memo_form', id: "my_memo_form", placeholder: 'マイメモ' %>
              <%= f.submit '更新', class: 'my-memo-submit', id: "my-memo-submit" %>
            <% end %>
          </div>
      </div>
      <%= link_to "my page", root_path %>
  </div>



<%#           センター             %>


<div class="center-block">

  <div class="group-memo-block">
    <%= form_with model: @room, url: room_path(@room), local: true do |f| %>
      <%= f.text_area :group_memo, class: 'group_memo_form', id: "group_memo_form", placeholder: '共有メモボード' %>
      <%= f.submit '更新', class: 'group-memo-submit', id: "group-memo-submit" %>
    <% end %>
  </div>


  <div class="message-name-box" >
      <div class="my-icon-block">
            <%= form_with model: [@room, @memo], local: true do |f| %>
              <%= f.text_area :my_icon, class: 'my-icon_form', id: "my-icon_form", placeholder: 'ユーザー1メモ' %>
              <%= f.submit '更新', class: 'my-icon-submit', id: "my-icon-submit" %>
            <% end %>
      </div>
      <div class="user1-name-box">
        <% if current_user.id == @room_users[0].user_id %>
          <%= @room_users[1].user.nickname %>
          <% memo01 = @room_users[1].user.memos.find_by(room_id: @room.id) %>
          <%= memo01.my_icon if memo01 %>
        <% else %>
          <%= @room_users[0].user.nickname %>
          <% memo00 = @room_users[0].user.memos.find_by(room_id: @room.id) %>
          <%= memo00.my_icon if memo00 %>
        <% end %>
      </div>
      <div class="user2-name-box">
        <% if current_user.id == @room_users[2].user_id %>
          <%= @room_users[1].user.nickname %>
          <% memo01 = @room_users[1].user.memos.find_by(room_id: @room.id) %>
          <%= memo01.my_icon if memo01 %>
        <% else %>
          <%= @room_users[2].user.nickname %>
          <% memo02 = @room_users[2].user.memos.find_by(room_id: @room.id) %>
          <%= memo02.my_icon if memo02 %>
        <% end %>
      </div>
  </div>


  <div class="message-big-box", id = "list" >
    <%= render partial: 'chat', collection: @chats %>
  </div>



  <div class="center-bottom-box">


    <div class="message-form-box">
      <%= form_with model: [@room, @chat], method: :post, html: {class: "form", id: "form", "data-room-id": @room.id}, local: true do |f|%>
        <%= f.text_area :message, class: 'message', id: "message", placeholder: '' %>
        <div class="form-box-bottom">
        <label class="form-image">
        <%= f.file_field :image, class: 'image' , id: "image" %>
        </label>
        <%= f.submit '送信', class: 'form-submit-btn', id: "chat-submit" %>
        </div>
      <% end %>
    </div>


      <div class="user-memo-block">
          <div class="user-memo-box">
            <%= form_with model: [@room, @memo], local: true do |f| %>
              <%= f.text_area :user1_memo, class: 'user_memo_form', id: "user1_memo_form", placeholder: 'ユーザー1メモ' %>
              <%= f.submit '更新', class: 'user-memo-submit', id: "user1-memo-submit" %>
            <% end %>
          </div>
      </div>

      <div class="user-memo-block">
          <div class="user-memo-box">
            <%= form_with model: [@room, @memo], local: true do |f| %>
              <%= f.text_area :user2_memo, class: 'user_memo_form', id: "user2_memo_form", placeholder: 'ユーザー2メモ' %>
              <%= f.submit '更新', class: 'user-memo-submit', id: "user2-memo-submit" %>
            <% end %>
          </div>
      </div>


  </div>


 
<%# <% アンケートシート回答ページ ＞＞＞＞ %>
<div>
<br><br>
<div>Have an answer?</div>
<div class="question_sheets_box">
<%= render partial: 'question_sheets/answer_sheet', locals: { question_sheets: @question_sheets, room: @room } %>
</div>
</div>
<br>
<%# <% ＜＜＜＜ アンケートシート回答ページ %>

<%# <% アンケートシート作成フォーム ＞＞＞＞ %>
<div>
<div>アンケートシート作成フォーム</div>
<%= form_with(model: [@room, @question_sheet], local: true) do |form| %>
<%= form.text_field :question, class: 'question', id: "question", placeholder: 'type a question' %>
<%= form.fields_for :options do |option_fields| %>
<div class="option">
<%= option_fields.text_field :title, placeholder: "オプションのタイトル" %>
</div>
<% end %>
<%= form.submit "保存" %>
<% end %>
</div>
<%# <% ＜＜＜＜ アンケートシート作成フォーム %>

</div>



<%#           ライト             %>

<%# アーカイブブロック ＞＞＞＞%>

<div class="archive">
<div class="archive-small" id="archive-small">
  <%= render partial: 'archives/archive', collection: @archives %>
</div>
</div>

<%# ＜＜＜＜ アーカイブブロック %>



</div 1>
