<div class="room">


<%#           レフト             %>

  <div class="left-block">
    <div class="inside-room-name">
      <div>
      <%= @room.room_name %>
      </div>
    </div>


      <div class="my-memo-box">
      <%= link_to "メモ用スペース", root_path %>
      </div>
  </div>



<%#           センター             %>


<div class="center-block">

  <div class="all-memo">
    共有メモ
  </div>


  <div class="message-name-box" >
      <div class="current-user-name-box">
        <%= current_user.nickname %>
      </div>
      <div class="user1-name-box">
        <% if current_user.id == @room_users[0].user_id %>
          <%= @room_users[1].user.nickname %>
        <% else %>
          <%= @room_users[0].user.nickname %>
        <% end %>
      </div>
      <div class="user2-name-box">
        <% if current_user.id == @room_users[2].user_id %>
          <%= @room_users[1].user.nickname %>
        <% else %>
          <%= @room_users[2].user.nickname %>
        <% end %>
      </div>
  </div>


  <div class="message-big-box", id = "list" >
    <%= render partial: 'chat', collection: @chats %>
  </div>



  <div class="center-bottom-box">


    <div class="message-form-box">
      <%= form_with model: [@room, @chat], method: :post, html: {class: "form", id: "form", "data-room-id": @room.id}, local: true do |f|%>
        <%= f.text_area :message, class: 'message', id: "message", placeholder: '' %>
        <div class="form-box-bottom">
        <label class="form-image">
        <%= f.file_field :image, class: 'image' , id: "image" %>
        </label>
        <%= f.submit '送信', class: 'form-submit-btn', id: "chat-submit" %>
        </div>
      <% end %>
    </div>

    <div class="user1-memo-box">
    </div>

    <div class="user2-memo-box">
    </div>


  </div>


 
<%# <% アンケートシート回答ページ ＞＞＞＞ %>
<%# <div> %>
<%# <br><br> %>
<%# <%= link_to "Have an answer?", room_question_sheets_path(@room) %>
<%# </div> %>
<%# <br><br> %>
<%# <% ＜＜＜＜ アンケートシート回答ページ %>

<%# <% アンケートシート作成フォーム ＞＞＞＞ %>
<%# <br><br> %>
<%# <div> %>
<%# <%= form_with(model: [@room, @question_sheet], local: true) do |form| %>
  <%# <%= form.text_field :question, class: 'question', id: "question", placeholder: 'type a question' %>
  <%# <%= form.fields_for :options do |option_fields| %>
    <%# <div class="option"> %>
      <%# <%= option_fields.text_field :title, placeholder: "オプションのタイトル" %>
      <%# <%= option_fields.check_box :_destroy %>
      <%# <%= option_fields.label :_destroy, "このオプションを削除" %>
    <%# </div> %>
  <%# <% end %>
  <%# <%= form.submit "保存" %>
<%# <% end %>
<%# </div> %>
<%# <br><br> %>

<%# <% ＜＜＜＜ アンケートシート作成フォーム %>

</div>



<%#           ライト             %>

<%# アーカイブブロック ＞＞＞＞%>

<div class="archive">
<div class="archive-small" id="archive-small">
  <%= render partial: 'archives/archive', collection: @archives %>
</div>
</div>

<%# ＜＜＜＜ アーカイブブロック %>



</div 1>
