<div class="room">


<div class="2-1">

チャットルーム
<div class="anime">
ルーム名「<%= @room.room_name %>」
</div>
<%= link_to "戻る", root_path %>

</div 2-1>


<div class="2-2">


  <div class="message-big-box", id = "list" >
    <div class="message-name-box" >
      <div class="current-user-box">
        <%= current_user.nickname %>
      </div>
      <div class="user1-box">
        <% if current_user.id == @room_users[0].user_id %>
          <%= @room_users[1].user.nickname %>
        <% else %>
          <%= @room_users[0].user.nickname %>
        <% end %>
      </div>
      <div class="user2-box">
        <% if current_user.id == @room_users[2].user_id %>
          <%= @room_users[1].user.nickname %>
        <% else %>
          <%= @room_users[2].user.nickname %>
        <% end %>
      </div>
    </div>

    <%= render partial: 'chat', collection: @chats %>
  </div>
  <br>
<div>
  <%= form_with model: [@room, @chat], method: :post, html: {class: "form", id: "form", "data-room-id": @room.id}, local: true do |f|%>

    <%= f.text_field :message, class: 'message', id: "message", placeholder: 'type a message' %>
     <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' , id: "image" %>
    </label>

    <%= f.submit '送信', class: 'form-submit-btn', id: "chat-submit" %>
 
<% end %>
   </div>

<%= form_with model: [@room, @archive], method: :post, html: {class: "form", id: "form", "data-room-id": @room.id}, local: true do |f|%>
     <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' , id: "archive-image-field" %>
    </label>
    <%= f.submit '送信', class: 'form-submit-btn', id: "chat-submit" %>
 
<% end %>

<br><br>
<div>
<%= form_with model: @user do |form| %>
  <%= form.check_box :agreement %>
  <%= form.label :agreement, "利用規約に同意する" %>

  <%= form.submit "登録" %>
<% end %>
<br><br><br>

<%= form_with model: @user do |form| %>
  <% # 利用可能な興味のリスト %>
  <% ['音楽', '映画', 'スポーツ', '旅行'].each do |interest| %>
    <div>
            <%= form.label :interests, interest %>
      <%= form.check_box :interests, { multiple: true }, interest %>

    </div>
  <% end %>

  <%= form.submit "保存" %>
<% end %>
</div>
<br><br>
</div 2-2>



<div class="archive">
<div class="archive-small" id="archive-small">
  <%= render partial: 'archives/archive', collection: @archives %>
</div>
</div>





</div 1>
