<div class="room">


<div class="2-1">

チャットルーム
<div class="anime">
ルーム名「<%= @room.room_name %>」
</div>
<%= link_to "戻る", root_path %>

</div 2-1>


<div class="2-2">


  <div class="message-big-box", id = "list" >
    <div class="message-name-box" >
      <div class="current-user-box">
        <%= current_user.nickname %>
      </div>
      <div class="user1-box">
        <% if current_user.id == @room_users[0].user_id %>
          <%= @room_users[1].user.nickname %>
        <% else %>
          <%= @room_users[0].user.nickname %>
        <% end %>
      </div>
      <div class="user2-box">
        <% if current_user.id == @room_users[2].user_id %>
          <%= @room_users[1].user.nickname %>
        <% else %>
          <%= @room_users[2].user.nickname %>
        <% end %>
      </div>
    </div>

    <%= render partial: 'chat', collection: @chats %>
  </div>
  <br>
<div>
  <%= form_with model: [@room, @chat], method: :post, html: {class: "form", id: "form", "data-room-id": @room.id}, local: true do |f|%>

    <%= f.text_field :message, class: 'message', id: "message", placeholder: 'type a message' %>
     <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' , id: "image" %>
    </label>

    <%= f.submit '送信', class: 'form-submit-btn', id: "chat-submit" %>
 
<% end %>
   </div>

<%= form_with model: [@room, @archive], method: :post, html: {class: "form", id: "form", "data-room-id": @room.id}, local: true do |f|%>
     <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' , id: "archive-image-field" %>
    </label>
    <%= f.submit '送信', class: 'form-submit-btn', id: "chat-submit" %>
 
<% end %>



 
<%# <% アンケートシート回答ページ ＞＞＞＞ %>
<%# <div> %>
<%# <br><br> %>
<%# <%= link_to "Have an answer?", room_question_sheets_path(@room) %>
<%# </div> %>
<%# <br><br> %>
<%# <% ＜＜＜＜ アンケートシート回答ページ %>

<%# <% アンケートシート作成フォーム ＞＞＞＞ %>
<%# <br><br> %>
<%# <div> %>
<%# <%= form_with(model: [@room, @question_sheet], local: true) do |form| %>
  <%# <%= form.text_field :question, class: 'question', id: "question", placeholder: 'type a question' %>
  <%# <%= form.fields_for :options do |option_fields| %>
    <%# <div class="option"> %>
      <%# <%= option_fields.text_field :title, placeholder: "オプションのタイトル" %>
      <%# <%= option_fields.check_box :_destroy %>
      <%# <%= option_fields.label :_destroy, "このオプションを削除" %>
    <%# </div> %>
  <%# <% end %>
  <%# <%= form.submit "保存" %>
<%# <% end %>
<%# </div> %>
<%# <br><br> %>

<%# <% ＜＜＜＜ アンケートシート作成フォーム %>

</div 2-2>



<%# アーカイブブロック ＞＞＞＞%>

<div class="archive">
<div class="archive-small" id="archive-small">
  <%= render partial: 'archives/archive', collection: @archives %>
</div>
</div>

<%# ＜＜＜＜ アーカイブブロック %>



</div 1>
